*{
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
}
nav ul {
    display: flex;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 1.5rem;
}